<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30" status="trace">
	<!-- http://logging.apache.org/log4j/2.x/manual/configuration.html -->
	<Properties>
		<Property name="layout">%d %p %c{1.} [%t] %m%n</Property>
	</Properties>
	<Filter type="ThresholdFilter" level="trace" />
	
	<Appenders>

		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %X{correlationId} %logger{36} - %msg%n" />
		</Console>

		<!--
		syslog.hostname & syslog.port : configured in CMP_GLOBAL.properties
		env:MODULE          : configured in yaml 
		app.name.local  & syslog.facility : configured in CMP_MODULE.properties
		-->
		<Syslog name="SequentCMPSyslogAppender" host="localhost" port="5120"
				protocol="TCP" appName="SpringBootJWT" mdcId="mdc"
				facility="LOCAL7" enterpriseNumber="18060" newLine="true" mdcIncludes="correlationId"
				format="RFC5424" ignoreExceptions="false" exceptionPattern="%throwable{full}">
		 	<PatternLayout
				pattern=": { &quot;module&quot;:&quot;SPringBootJWT&quot;, &quot;timeStamp&quot;:&quot;%d{MMM dd HH:mm:ss}&quot;, &quot;containerId&quot;:&quot;localhost&quot;,  &quot;correlationId&quot;:&quot;%X{correlationId}&quot;, &quot;level&quot;:&quot;%p&quot;, &quot;logger&quot;:&quot;%c{1.}&quot;, &quot;message&quot;:&quot;%m&quot;, &quot;exception&quot;:&quot;%exception&quot; }%n"
			/>
		</Syslog>
 
	</Appenders>

	<Loggers>

		<Root level="info">
			<AppenderRef ref="Console" />
		  	<AppenderRef ref="SequentCMPSyslogAppender" />  
		</Root>

		<Logger name="com.allianz" level="debug" />
		<Logger name="org.springframework.jdbc" level="error" />
		<Logger name="jdbc.sqlonly" level="error" />
		
		
	</Loggers>

</Configuration>